 {% extends "blog/base.html" %}
{% block content %}

   <div class="contet-section">
     <form method="post">
        {% csrf_token %}

        <fieldset class="field-group">
          <legend class="form-group">Delete Post</legend>
          <h1>Are you sure you want to delete the post "{{object.title}}"?</h1>

        </fieldset>

        <div class="form-group">
          <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
          <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
        </div>

     </form>
   </div>
{% endblock content %}

